<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dashboard - Mazer Admin Dashboard</title>

    <link rel="stylesheet" th:href="@{/assets/css/main/app.css}" />
    <link rel="stylesheet" th:href="@{/assets/css/main/app-dark.css}" />
    <link
      rel="shortcut icon"
      th:href="@{/assets/images/logo/favicon.svg}"
      type="image/x-icon"
    />
    <link
      rel="shortcut icon"
      th:href="@{/assets/images/logo/favicon.png}"
      type="image/png"
    />
    <script
      src="https://code.jquery.com/jquery-3.6.3.slim.js"
      integrity="sha256-DKU1CmJ8kBuEwumaLuh9Tl/6ZB6jzGOBV/5YpNE2BWc="
      crossorigin="anonymous"
    ></script>

    <link rel="stylesheet" th:href="@{/assets/css/shared/iconly.css}" />
  </head>

  <body>
    <div id="app">
      <div id="sidebar" class="active">
        <div class="sidebar-wrapper active">
          <div class="sidebar-header position-relative">
            <div class="d-flex justify-content-between align-items-center">
              <div class="logo">
                <a href="index.html"
                  ><img
                    th:src="@{/assets/images/logo/logo.svg}"
                    alt="Logo"
                    srcset=""
                /></a>
              </div>
              <div class="theme-toggle d-flex gap-2 align-items-center mt-2">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  xmlns:xlink="http://www.w3.org/1999/xlink"
                  aria-hidden="true"
                  role="img"
                  class="iconify iconify--system-uicons"
                  width="20"
                  height="20"
                  preserveAspectRatio="xMidYMid meet"
                  viewBox="0 0 21 21"
                >
                  <g
                    fill="none"
                    fill-rule="evenodd"
                    stroke="currentColor"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  >
                    <path
                      d="M10.5 14.5c2.219 0 4-1.763 4-3.982a4.003 4.003 0 0 0-4-4.018c-2.219 0-4 1.781-4 4c0 2.219 1.781 4 4 4zM4.136 4.136L5.55 5.55m9.9 9.9l1.414 1.414M1.5 10.5h2m14 0h2M4.135 16.863L5.55 15.45m9.899-9.9l1.414-1.415M10.5 19.5v-2m0-14v-2"
                      opacity=".3"
                    ></path>
                    <g transform="translate(-210 -1)">
                      <path d="M220.5 2.5v2m6.5.5l-1.5 1.5"></path>
                      <circle cx="220.5" cy="11.5" r="4"></circle>
                      <path
                        d="m214 5l1.5 1.5m5 14v-2m6.5-.5l-1.5-1.5M214 18l1.5-1.5m-4-5h2m14 0h2"
                      ></path>
                    </g>
                  </g>
                </svg>
                <div class="form-check form-switch fs-6">
                  <input
                    class="form-check-input me-0"
                    type="checkbox"
                    id="toggle-dark"
                  />
                  <label class="form-check-label"></label>
                </div>
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  xmlns:xlink="http://www.w3.org/1999/xlink"
                  aria-hidden="true"
                  role="img"
                  class="iconify iconify--mdi"
                  width="20"
                  height="20"
                  preserveAspectRatio="xMidYMid meet"
                  viewBox="0 0 24 24"
                >
                  <path
                    fill="currentColor"
                    d="m17.75 4.09l-2.53 1.94l.91 3.06l-2.63-1.81l-2.63 1.81l.91-3.06l-2.53-1.94L12.44 4l1.06-3l1.06 3l3.19.09m3.5 6.91l-1.64 1.25l.59 1.98l-1.7-1.17l-1.7 1.17l.59-1.98L15.75 11l2.06-.05L18.5 9l.69 1.95l2.06.05m-2.28 4.95c.83-.08 1.72 1.1 1.19 1.85c-.32.45-.66.87-1.08 1.27C15.17 23 8.84 23 4.94 19.07c-3.91-3.9-3.91-10.24 0-14.14c.4-.4.82-.76 1.27-1.08c.75-.53 1.93.36 1.85 1.19c-.27 2.86.69 5.83 2.89 8.02a9.96 9.96 0 0 0 8.02 2.89m-1.64 2.02a12.08 12.08 0 0 1-7.8-3.47c-2.17-2.19-3.33-5-3.49-7.82c-2.81 3.14-2.7 7.96.31 10.98c3.02 3.01 7.84 3.12 10.98.31Z"
                  ></path>
                </svg>
              </div>
              <div class="sidebar-toggler x">
                <a href="#" class="sidebar-hide d-xl-none d-block"
                  ><i class="bi bi-x bi-middle"></i
                ></a>
              </div>
            </div>
          </div>
          <div class="sidebar-menu">
            <ul class="menu">
              <li class="sidebar-title">Menu</li>

              <li class="sidebar-item active">
                <a th:href="@{/}" class="sidebar-link">
                  <i class="bi bi-grid-fill"></i>
                  <span>Dashboard</span>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div id="main">
        <header class="mb-3">
          <a href="#" class="burger-btn d-block d-xl-none">
            <i class="bi bi-justify fs-3"></i>
          </a>
        </header>

        <div class="page-heading">
          <div class="row">
            <div class="col-md-10">
              <h3>Karyawan</h3>
            </div>
            <div class="col-md-2">
              <button
                type="button"
                class="btn btn-outline-warning"
                data-bs-toggle="modal"
                data-bs-target="#defaultSize"
              >
                Tambah Data
              </button>
            </div>
          </div>
        </div>
        <div class="page-content">
          <section class="row">
            <div class="col-12 col-md-12">
              <div
                th:if="${gagal}"
                th:text="${gagal}"
                class="alert alert-danger"
              ></div>
              <div
                th:if="${berhasil}"
                th:text="${berhasil}"
                class="alert alert-success"
              ></div>
              <div class="card">
                <div class="card-header">
                  <h4 class="card-title">Cari Data</h4>
                </div>
                <div class="card-content">
                  <div class="card-body">
                    <form class="form" th:action="@{/(name=${name}, tglMsk=${tglMsk}, noHp=${noHp})}" method="get">
                      <div class="row">
                        <div class="col-md-4 col-12">
                          <div class="form-group">
                            <label for="first-name-column">Nama Karyawan</label>
                            <input
                              type="textbox"
                              id="first-name-column"
                              class="form-control"
                              placeholder="Nama Karyawan"
                              th:name="name"
                            />
                          </div>
                        </div>
                        <div class="col-md-4 col-12">
                          <div class="form-group">
                            <label for="last-name-column">Tanggal Masuk</label>
                            <input
                              type="date"
                              id="last-name-column"
                              class="form-control"
                              placeholder="Tanggal Masuk"
                              th:name="tglMsk"
                            />
                          </div>
                        </div>
                        <div class="col-md-4 col-12">
                          <div class="form-group">
                            <label for="last-name-column">Nomor Hp</label>
                            <input
                              type="textbox"
                              id="last-name-column"
                              class="form-control"
                              placeholder="Nomer Hp"
                              th:name="noHp"
                            />
                          </div>
                        </div>
                        <div class="col-12 d-flex justify-content-end">
                          <button
                            type="submit"
                            class="btn btn-primary me-1 mb-1"
                          >
                            Cari
                          </button>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-12 col-md-12">
              <div class="card">
                <div class="card-header">
                  <h4 class="card-title">List Data</h4>
                </div>
                <div class="card-content">
                  <div class="card-body">
                    <!-- Table with outer spacing -->
                    <div class="table-responsive">
                      <table class="table table-lg">
                        <thead>
                          <tr>
                            <th>Kode Karyawan</th>
                            <th>Nama</th>
                            <th>Tanggal Masuk</th>
                            <th>Updated Date</th>
                            <th>Aksi</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr th:each="data : ${data}">
                            <td
                              class="text-bold-500"
                              th:text="${data.kodeKaryawan}"
                            ></td>
                            <td
                              class="text-bold-500"
                              th:text="${data.nama}"
                            ></td>
                            <td
                              class="text-bold-500"
                              th:text="${data.tglMasuk}"
                            ></td>
                            <td
                              class="text-bold-500"
                              th:text="${data.updatedAt}"
                            ></td>
                            <td class="text-bold-500">
                              <button type="button" data-bs-toggle="modal"
                              data-bs-target="#editKaryawanModal" class="btn icon btn-primary" th:data-remote="@{/{kode}/edit(kode=${data.kodeKaryawan})}"
                                ><i class="bi bi-pencil"></i
                              ></button>
                              <button
                                type="button"
                                id="open-deletemodal"
                                th:data-id="${data.kodeKaryawan}"
                                class="btn icon btn-danger"
                                data-bs-toggle="modal"
                                data-bs-target="#danger"
                              >
                                <i class="bi bi-x"></i>
                              </button>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
        </div>

        <!-- modal -->
        <div class="row">
          <div class="col-12">
            <div
              class="modal fade text-left"
              id="defaultSize"
              tabindex="-1"
              role="dialog"
              aria-labelledby="myModalLabel18"
              aria-hidden="true"
            >
              <div
                class="modal-dialog modal-dialog-centered modal-dialog-scrollable"
                role="document"
              >
                <div class="modal-content">
                  <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel18">
                      Tambah Data Karyawan
                    </h4>
                    <button
                      type="button"
                      class="close"
                      data-bs-dismiss="modal"
                      aria-label="Close"
                    >
                      <i data-feather="x"></i>
                    </button>
                  </div>
                  <div class="modal-body">
                    <form
                      class="form form-vertical"
                      th:action="@{/create}"
                      th:object="${create}"
                      method="POST"
                      data-parsley-validate
                    >
                      <div class="form-body">
                        <div class="row">
                          <div class="col-12">
                            <div class="form-group">
                              <label for="first-name-vertical"
                                >Nama Karyawan</label
                              >
                              <input
                                type="text"
                                id="first-name-vertical"
                                class="form-control"
                                th:name="nama"
                                placeholder="Nama"
                                data-parsley-required="true"
                              />
                            </div>
                          </div>
                          <div class="col-12">
                            <div class="form-group">
                              <label for="email-id-vertical"
                                >Tanggal masuk</label
                              >
                              <input
                                type="date"
                                id="email-id-vertical"
                                class="form-control"
                                th:name="tglMsk"
                                placeholder="Tanggal Masuk"
                                data-parsley-required="true"
                                data-parsley-trigger="change"
                                data-parsley-tanggalmasukkerja
                              />
                            </div>
                          </div>
                          <div class="col-12">
                            <div class="form-group">
                              <label for="contact-info-vertical"
                                >Nomer HP</label
                              >
                              <input
                                type="text"
                                id="contact-info-vertical"
                                class="form-control"
                                th:name="noHp"
                                placeholder="Nomer HP"
                                data-parsley-required="true"
                                data-parsley-type="number"
                                data-parsley-pattern="^[0-9]{12}$"
                              />
                            </div>
                          </div>
                          <div class="col-12">
                            <div class="form-group">
                              <label for="password-vertical"
                                >Limit Reimbursement</label
                              >
                              <input
                                type="number"
                                id="password-vertical"
                                class="form-control"
                                th:name="limitReimbursement"
                                placeholder="Limit Reimbursement"
                                data-parsley-required="true"
                                data-parsley-min="0"
                              />
                            </div>
                          </div>
                          <div class="col-12 d-flex justify-content-end">
                            <button
                              type="submit"
                              class="btn btn-primary me-1 mb-1"
                            >
                              Input
                            </button>
                          </div>
                        </div>
                      </div>
                    </form>
                  </div>
                  <div class="modal-footer"></div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- delete modal -->
        <div
          class="modal fade text-left"
          id="danger"
          tabindex="-1"
          role="dialog"
          aria-labelledby="myModalLabel120"
          aria-hidden="true"
        >
          <div
            class="modal-dialog modal-dialog-centered modal-dialog-scrollable"
            role="document"
          >
            <div class="modal-content">
              <div class="modal-header bg-danger">
                <h5 class="modal-title white" id="myModalLabel120">
                  Hapus Data
                </h5>
                <button
                  type="button"
                  class="close"
                  data-bs-dismiss="modal"
                  aria-label="Close"
                >
                  <i data-feather="x"></i>
                </button>
              </div>
              <div class="modal-body">
                anda takin ingin menghapus data ini? tidak tidak akan bisa
                kembali jika sudah dihapus
              </div>
              <div class="modal-footer">
                <form action="" id="form-delete" method="POST">
                  <input type="hidden" name="_method" value="DELETE" />
                  <button
                    type="button"
                    class="btn btn-light-secondary"
                    data-bs-dismiss="modal"
                  >
                    <i class="bx bx-x d-block d-sm-none"></i>
                    <span class="d-none d-sm-block">Close</span>
                  </button>
                  <button
                    type="submit"
                    class="btn btn-danger ml-1"
                    data-bs-dismiss="modal"
                  >
                    <i class="bx bx-check d-block d-sm-none"></i>
                    <span class="d-none d-sm-block">Yakin</span>
                  </button>
                </form>
              </div>
            </div>
          </div>
        </div>
        <script>
          $(document).on("click", "#open-deletemodal", function () {
            $("#form-delete")[0].setAttribute(
              "action",
              "/" + $(this).data("id") + "/destroy"
            );
          });
        </script>
        <!-- update modal  -->
        <div
          class="modal fade text-left"
          id="editKaryawanModal"
          tabindex="-1"
          role="dialog"
          aria-labelledby="myModalLabel160"
          aria-hidden="true"
        >
          <div
            class="modal-dialog modal-dialog-centered modal-dialog-scrollable"
            role="document"
          >
            <div class="modal-content">
              <div class="modal-header bg-primary">
                <h5 class="modal-title white" id="myModalLabel160">
                  Update Karyawan
                </h5>
                <button
                  type="button"
                  class="close"
                  data-bs-dismiss="modal"
                  aria-label="Close"
                >
                  <i data-feather="x"></i>
                </button>
              </div>
              <div class="modal-body">
                <div class="spinner-grow" style="width: 3rem; height: 3rem;" role="status">
                  <span class="visually-hidden">Loading...</span>
              </div>
              </div>
              <div class="modal-footer">
                
              </div>
            </div>
          </div>
        </div>
        <footer>
          <div class="footer clearfix mb-0 text-muted">
            <div class="float-start">
              <p>2021 &copy; Mazer</p>
            </div>
            <div class="float-end">
              <p>
                Crafted with
                <span class="text-danger"><i class="bi bi-heart"></i></span> by
                <a href="https://saugi.me">Saugi</a>
              </p>
            </div>
          </div>
        </footer>
      </div>
    </div>
    <script>
      $(document).ready(function() {
        $('#editKaryawanModal').on('show.bs.modal', function(event) {
          var button = $(event.relatedTarget);
          var url = button.data('remote');
          var modal = $(this);
    
          modal.find('.modal-body').load(url, function(response, status, xhr) {
            if (status === 'success') {
              // Hilangkan spinner setelah konten dimuat
              modal.find('.spinner-grow').remove();
            } else {
              // Tampilkan pesan error jika konten tidak dapat dimuat
              modal.find('.modal-body').html('<p>Terjadi kesalahan saat memuat konten.</p>');
            }
          });
        });
      });
    </script>

    <script th:src="@{/assets/js/bootstrap.js}"></script>
    <script th:src="@{/assets/js/app.js}"></script>

    <!-- Need: Apexcharts -->
    <script
      th:src="@{/assets/extensions/apexcharts/apexcharts.min.js}"
    ></script>
    <script th:src="@{/assets/js/pages/dashboard.js}"></script>

    <!-- parsley -->
    <script th:src="@{/assets/extensions/jquery/jquery.min.js}"></script>
    <script th:src="@{/assets/extensions/parsleyjs/parsley.min.js}"></script>
    <script th:src="@{/assets/js/pages/parsley.js}"></script>

    <script>
      window.Parsley.addValidator("tanggalmasukkerja", {
        validateString: function (value) {
          var tanggalMasukKerja = new Date(value);
          var tanggalSekarang = new Date();
          var duaBulanLalu = new Date();
          var tigaBulanLalu = new Date();
          duaBulanLalu.setMonth(tanggalSekarang.getMonth() - 2);
          tigaBulanLalu.setMonth(tanggalSekarang.getMonth() + 3);

          return (
            tanggalMasukKerja >= duaBulanLalu &&
            tanggalMasukKerja <= tigaBulanLalu
          );
        },
        messages: {
          en: "The date entered cannot be 2 months ago or 3 months in the future",
        },
      });
    </script>
  </body>
</html>
